<a href="https://colab.research.google.com/github/17Viktor1963/project_01/blob/main/task_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 4.1

In [83]:
import sqlite3

#создание таблицы студентов
connection = sqlite3.connect("teachers.db")
cursor = connection.cursor()
query = """CREATE TABLE Student (
Student_id INTEGER NOT NULL PRIMARY KEY,
Student_Name TEXT NOT NULL);"""
cursor.execute(query)
connection.commit()
connection.close()

In [86]:
import sqlite3

#наполнение таблицы студентов
connection = sqlite3.connect("teachers.db")
cursor = connection.cursor()
query = """INSERT INTO Student (Student_id , Student_Name )
VALUES
(201, 'Иван'),
(202, 'Петр'),
(203, 'Анастасия'),
(204, 'Игорь');"""
cursor.execute(query)
connection.commit()
connection.close()

In [65]:
import sqlite3

#создание таблицы название школы
connection = sqlite3.connect("teacher.db")
cursor = connection.cursor()
query = """CREATE TABLE School (
School_id INTEGER NOT NULL PRIMARY KEY,
School_Name TEXT NOT NULL);"""
cursor.execute(query)
connection.commit()
connection.close()

In [67]:
import sqlite3

#наполнение таблицы название школы
connection = sqlite3.connect("teacher.db")
cursor = connection.cursor()
query = """INSERT INTO School (School_id , School_Name )
VALUES
('1', 1),
('2', 2),
('3', 3),
('4', 4);"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
import sqlite3
def get_connection():
  connection =sqlite3.connect('teachers.db')
  return connection
def close_connection(connection):
  if connection:
    connection.close()
def get_student(student_id):
  try:
    connection = get_connection()
    curcor = connection.curcor()
    query = "SELECT * FROM  Student WHERE Student_id =?"
    cursor.execute(query,(student_id,))
    record = cursor.fetchall()
    print(record)
    close_connection(connection)
  except (Exception,sqlite3.Error) as error:
    print('Ошибка в получении данных',error)